# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Code_J3\PhamThiThaoThiJ3Lay10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
